extends ../template

block sidebar
  +main-sidebar('index')

block content
  +header-tabs('index')
  .page-wrapper
    .page-paper.transparent
      .page-content
        .page-section
          .page-section-header
            img.page-section-image(src='../assets/sample_images/english.jpeg')
            a.page-section-title(href="sector.html")= english
            .page-section-caption= suggestions
            .page-section-action= buy
            i.page-section-close.mdi.mdi-close
          .page-section-list
            each i in [1,2,3,4]
              a.video-card(href="video.html")
                .video-card-thumbnail
                  img.video-card-image(src='../assets/sample_images/v1.jpeg')
                  i.video-card-action.mdi.mdi-clock
                  .video-card-duration 8:01
                .video-card-info 
                  .video-card-title عرض شكب عالباك
                  .video-card-author فريق التسويق
                  .video-card-details
                    div 1 مليون مشاهدة
                    div قبل 50 دقيقة
        .page-section
          .page-section-header
            img.page-section-image(src='../assets/sample_images/math.jpeg')
            .page-section-title= maths
            .page-section-caption= suggestions
            .page-section-action= buy
            i.page-section-close.mdi.mdi-close
          .page-section-list
            each i in [1,2,3,4]
              a.video-card(href="video.html")
                .video-card-thumbnail
                  img.video-card-image(src='../assets/sample_images/v1.jpeg')
                  i.video-card-action.mdi.mdi-clock
                  .video-card-duration 8:01
                .video-card-info 
                  .video-card-title عرض شكب عالباك
                  .video-card-author فريق التسويق
                  .video-card-details
                    div 1 مليون مشاهدة
                    div قبل 50 دقيقة
            