mixin tabs(active)
  .tabs.desktop
    a.tab(href="sector.html", class=(active == 'sector') ? 'active' : '')= videos
    a.tab(href="playlists.html", class=(active == 'playlists') ? 'active' : '')= chapters
    .tab= forum
    a.tab(href="sectors.html", class=(active == 'sectors') ? 'active' : '')= subjects
    a.tab(class=(active == 'magazines') ? 'active' : '')= magazines
    a.tab(class=(active == 'lives') ? 'active' : '')= lives
    a.tab(class=(active == 'recordings') ? 'active' : '')= recordings

mixin main-sidebar(active, free)
  #main-sidebar.sidebar(class=free ? 'free hidden' : '')
    .sidebar-section
      a.sidebar-item(href="index.html", class=(active == 'index') ? 'active' : '')
        i.item-icon.mdi.mdi-home
        span.item-text= home
      .sidebar-item(class=(active == 'trendings') ? 'active' : '')
        i.item-icon.mdi.mdi-fire
        span.item-text= trendings
      a.sidebar-item(href="sectors.html", class=(active == 'sectors') ? 'active' : '')
        i.item-icon.mdi.mdi-youtube
        span.item-text= subjects
    .sidebar-section
      .sidebar-section-title= library
      a.sidebar-item(href="history.html", class=(active == 'history') ? 'active' : '')
        i.item-icon.mdi.mdi-history
        span.item-text= history
      a.sidebar-item(href="playlist.html", class=(active == 'playlist') ? 'active' : '')
        i.item-icon.mdi.mdi-clock
        span.item-text= watchLater
      a.sidebar-item(href="playlist.html", class=(active == 'playlist') ? 'active' : '')
        i.item-icon.mdi.mdi-thumb-up
        span.item-text= likedVideos
    .sidebar-section
      .sidebar-section-title= subjects
      a.sidebar-item.live(href="sector.html", class=(active == 'sector') ? 'active' : '')
        img.item-icon(src='../assets/sample_images/english.jpeg')
        span.item-text= english
        i.item-live_icon.mdi.mdi-access-point
      a.sidebar-item(href="sector.html", class=(active == 'sector') ? 'active' : '')
        img.item-icon(src='../assets/sample_images/math.jpeg')
        span.item-text= maths
        i.item-live_icon.mdi.mdi-access-point
        .item-info-number 8
      a.sidebar-item(href="sector.html", class=(active == 'sector') ? 'active' : '')
        img.item-icon(src='../assets/sample_images/physics.jpeg')
        span.item-text= physics
        i.item-live_icon.mdi.mdi-access-point
        .item-info-number 2
      .sidebar-item
        i.item-icon.mdi.mdi-chevron-down
        span.item-text= seeMore
    .sidebar-section
      .sidebar-section-title= chapters
      a.sidebar-item.live(href="playlist.html", class=(active == 'playlist') ? 'active' : '')
        img.item-icon(src='../assets/sample_images/cn.jpg')
        span.item-text Nombres Complexes
        i.item-live_icon.mdi.mdi-access-point
      a.sidebar-item(href="playlist.html", class=(active == 'playlist') ? 'active' : '')
        img.item-icon(src='../assets/sample_images/rl.png')
        span.item-text Ciruit RL
        i.item-live_icon.mdi.mdi-access-point
      a.sidebar-item(href="playlist.html", class=(active == 'playlist') ? 'active' : '')
        img.item-icon(src='../assets/sample_images/philo.png')
        span.item-text الإنية والغيرية
        i.item-live_icon.mdi.mdi-access-point
      .sidebar-item
        i.item-icon.mdi.mdi-chevron-down
        span.item-text= seeMore
    .sidebar-section
      .sidebar-item
        i.item-icon.mdi.mdi-settings
        span.item-text= settings
      .sidebar-item
        i.item-icon.mdi.mdi-help-circle
        span.item-text= help
      .sidebar-item
        i.item-icon.mdi.mdi-comment-alert
        span.item-text= sendComments
    .sidebar-section
      .fast-sets
        a.fast-set(href="../ar/index.html") عربية
        a.fast-set(href="../fr/index.html") Français
        a.fast-set(href="../en/index.html") English

mixin header-tabs(active) 
  .mobile.header-tabs
    a.header-tab(href="index.html", class=(active == 'index') ? 'active' : '')
      .mdi.mdi-home
    .header-tab(class=(active == 'trendings') ? 'active' : '')
      .mdi.mdi-fire
    a.header-tab(href="sectors.html", class=(active == 'sectors') ? 'active' : '')
      .mdi.mdi-youtube
    a.header-tab(href="library.html", class=(active == 'library') ? 'active' : '')
      .mdi.mdi-account

doctype html
html(dir=htmlDir)
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    title TakiAcademy
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="shortcut icon" href="../assets/img/logo.png")
    link(href='https://fonts.googleapis.com/css?family=Roboto+Condensed|Tajawal:500', rel='stylesheet')
    link(rel='stylesheet', href='https://cdn.materialdesignicons.com/2.4.85/css/materialdesignicons.min.css')
    link(rel='stylesheet', href='../assets/css/style.css')
  body
    header
      .main-corner
        i#main-sidebar-switcher.mdi.mdi-menu.menu-switcher
        a.header-appname(href="index.html")
          img.desktop(src='../assets/img/logo.png')
          img.mobile(src='../assets/img/logo_white.png')
          |  TakiAcademy
      .search-box.desktop
        input(type='text', placeholder=search)
        .search-box-submit
          i.mdi.mdi-magnify
      .flex
      input#mobile-header-search-toggle(type="checkbox")
      .mobile-header-search.mobile
        img.mobile-search-logo(src='../assets/img/logo.png')
        input#mobile-header-search-input
        .mobile-search-icons
          i.mdi.mdi-magnify.mobile-search-icon
          label.mdi.mdi-close.mobile-search-icon(for="mobile-header-search-toggle")
      .header-icons.mobile
        label.mdi.mdi-magnify(for="mobile-header-search-toggle")
        i.mdi.mdi-dots-vertical
      .header-icons.desktop
        i.mdi.mdi-apps.icon
        i.mdi.mdi-bell.icon
        a.signin-btn(href="auth.html")= login
        .header-user-corner
          img.header-avatar(src='../assets/sample_images/avatar.png')
          .user-corner-card
            .user-corner-card-header
              img.header-avatar(src='../assets/sample_images/avatar.png')
              .user-corner-card-header-text
                .user-corner-card-title Mohamed Ben Ahmed
                .user-corner-card-subtitle mohamedbenahmed@gmail.com
            .user-corner-card-content
              .user-corner-card-item
                .user-corner-card-item-icon.mdi.mdi-account-box
                .user-corner-card-item-text= profile
              .user-corner-card-item
                .user-corner-card-item-icon.mdi.mdi-logout-variant
                .user-corner-card-item-text= logout
    .under-header
      block sidebar
      block content
      script(src="../assets/js/theme.js")